__pycache__
.venv/
.pytest_cache/
.ruff_cache/
.test-tmp/
*.pyc
*.pyo
*.pyd
*.egg-info
dist/
build/
nanobot/web/dist/
.git
.env
.assets
node_modules/
bridge/dist/
workspace/
tmp/
case/
config/
docs/
images/
tests/
webui/
